<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <title>File Upload Example</title>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </head>

    <h1 class="layoutName"><%= audit.audit %></h1>
    <div id="header_adder" class="header_adder">
        <button id="header_button" class="header_button">Add Section +</button>
    </div>
<!-- <form action="/" method="post"> -->
    <!-- Add Header Section -->



    <!-- Header Section  -->
    <div id="header_section" class="header_section">
        <span class="header_section_list">
            <% var items = items %>
            <% if (items) { %>
                <% var counter = 1 %>
                <% var headers = 1 %>
                <div class="header header_adder header_section" id="header_adder<%=headers%>">
                    <header class="header header_name header_text" id="header_section_text"><%= items %></header>
                    <p class="section_field_area section_text"></p>   <button id="section_area_adder<%=counter%>" class="section_area_adder">+</button> <br>
                    <div class="section_area"></div>
                </div>
                <% headers++ %>
            <% } %>
        </span>
    </div> 

    <form action="/" method="post">
        <input type="hidden" class="header_count" name="header_count" value="">
    </form>
<!-- </form> -->

<form id="upload-widget" method="post" action="/public/uploads" class="dropzone" enctype="multipart/form-data">
    <div class="fallback">
        <input name="file" type="file" id="file" />
    </div>
</form>

<div class="files"></div>

<div class="save_button">
    <button id="save">Save</button>
</div>

<body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
    <script type="text/javascript">
            Dropzone.options.uploadWidget = {
                url: '/public/uploads',
                acceptedFiles: "image/*,application/pdf,.doc,.docx,.xls,.xlsx,.csv,.tsv,.ppt,.pptx,.pages,.odt,.rtf",
                dictDefaultMessage: 'Drag File To Upload',
                addRemoveLinks: true,
                    init: function() {
                        let myDropzone = this;
                        myDropzone.on('success', function(file, response) {
                            var a = document.createElement('a');
                            a.setAttribute('href',"/uploads/" + file.name);
                            a.setAttribute('target', "_blank")
                           //a.append('http://localhost:3000/public/uploads/'+file)
                            a.innerHTML = "<br>download";
                            file.previewTemplate.appendChild(a);
                            //file.previewTemplate.appendChild(document.createTextNode(file.file));
                            //console.log(file, response)
                        })
                    }
                }
    </script>
    <script>
        $(document).ready(function() {
            var headers = 1
            var fields = 2
            var index 
            var header_names = []
            var header_name
            var field_name
            var field_names = []
            var obj = {}

            // Header Section for Creation of headers
            $('#header_button').on('click', function() {
                $('#header_section').append('<div id="header_section'+headers+'" class="header_section'+headers+'">\
                        <p id="header_section_text'+headers+'" class="header_text"> Section Header Field '+headers+' </p>\
                        <button id="section_area_adder'+fields+'" class="section_area_adder orginal_">+</button>\
                    </div>\
                    <hr>\
                ')    
                counter = 2
                header_name = 'Section Header Field '+headers+''
                field_name = 'Section Field Area'+headers+''
                header_names.push(header_name)
                field_names.push(field_name)
                console.log(header_names, field_name)
                const audit_id = '<%= audit._id %>'
                const field_text = $('.section_field_area:first').text()
                var header_count = $('input[class=header_count').val()
                header_count = headers
                headers++
                $.ajax({
                        url: 'http://localhost:3000/opsaudits/<%= audit._id %>',
                        type: "POST",
                        data: {
                            header: header_name
                            },
                        success: function(res) {
                            console.log(header_name)
                        }
                })
                //const mySteps = new Audit_Steps(audit_id, head_name, field_text)
            })


            //HEADER
            var $this
            $('[class^=header_section]').on('click', '.header_text', function() {
                $this = $(this)
                var value = $(this).text().trim()
                index = $.inArray(value, header_names)
                var input = $('<input />', {
                    'type': 'text',
                    'name': 'names',
                    'class': 'header_text_input',
                    'value': value,
                    'placeholder': value
                })
                $(this).replaceWith(input)
                $('.header_text_input').focus().select()
            })

            // Header Text Input Change
            $('[class^=header_section]').on("blur change", "input", function () {
                var value = $('input[class^=header_text_input]').val()
                $this.text(value);
                if (value.length !== 0) {
                    $(this).replaceWith('<p class="header_text">'+value+'</p>')
                    header_names[index] = value
                    header_name = value
                    console.log(header_name)
                }
                $.ajax({
                    url: 'http://localhost:3000/opsaudits/edit/<%= audit._id %>',
                    type: "POST",
                    data: {header_names: header_names},
                    success: function(res) {
                        console.log(header_names)
                    }
                })
            })

            //Section Area
            $('.section_area_adder').on('click', function() {
                console.log("test")
            })

            //Section Area 
            $('[class^=section_area').on('click', function() {
                field_name = 'Section Field Area'
                field_names.push(field_name)
                $(this).prev().append(' <div class="section_area">\
                                                <p class="section_text section_field_area'+fields+'">Section Area Field</p>  \
                                                <input type="hidden" id="header_section'+fields+'" name="name" value='+fields+'>  <hr> \
                                                </div> ')       
                                                field_name = 'Section Field Area'
                                                field_names.push(field_name)
                                                console.log(field_names)
                                                fields++
                                                $.ajax({
                                                        url: 'http://localhost:3000/opsaudit/steps/<%= audit._id %>',
                                                        type: "POST",
                                                        data: {
                                                            steps: field_names
                                                            },
                                                        success: function(res) {
                                                            console.log(header_name)
                                                        }
                                                })
            })

            //Section Input Change 
            var $this
            $('[class^=section_field_area]').on('click', '.section_text', function() {
                $this = $(this)
                var value = $(this).text().trim()
                //console.log(value)
                index = $.inArray(value, field_names)
                //console.log(mySteps.head_id)
                var input = $('<input />', {
                    'type': 'text',
                    'name': 'name',
                    'class': 'section_text_input',
                    'value': value,
                    'placeholder': value
                })
                $(this).replaceWith(input)
                $('.section_text_input').focus().select()
            })


            // Section Text Input Change
                $(document).on("blur change", "input", function () {
                    var value = $('input[class^=section_text_input]').val()
                    $this.text(value);
                    if (value.length !== 0) {
                        $(this).replaceWith('<p class="section_text">'+value+'</p>')
                    field_names[index] = value
                    field_name = value
                    console.log(value)
                }})

            // SAVE 
                $(document).on('click', '#save', function(){
                    $.ajax({
                        url: 'http://localhost:3000/opsaudits/<%= audit._id %>',
                        type: "POST",
                        data: {
                            header: header_name,
                            field: field_names
                        },
                        success: function(res) {
                            console.log(header_name, field_names)
                        }
                })
            })
        })
    </script>
</body>
</html>
